fastapi
uvicorn
langchain
langgraph
langchain_openai
langchain_mcp_adapters
prometheus_client
requests
python-dotenv
pandas
numpy
joblib
scikit-learn
torch
redis
kopf
aiohttp
minio
matplotlib
seaborn
plotly
scipy
pyarrow
grpcio==1.60.0
grpcio-tools==1.60.0
protobuf==4.25.0 