pandas>=1.5.0
numpy>=1.20.0
pyarrow>=10.0.0
scikit-learn>=1.0.0
prometheus-api-client>=0.5.3
kfp>=1.8.0
kfp-pipeline-spec>=0.1.16  # For KFP pipeline compilation
tensorflow>=2.15.0  # For DQN model
gym  # For RL environments
kserve>=0.11.0  # For model serving
kubernetes>=28.1.0  # For K8s API access
torch>=2.1.0  # For PyTorch model serving
torchserve>=0.8.2  # For model serving